<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>债事审核-债权详情</title>
    
    <link href="css/bootstrap_Grid_system.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight wrapperPdl">
        <div class="claimdetailCont">
            <div class="claimdetailHead">
                <a href="debt_examine" class="colbebA">债事审核&gt;</a>
                <span class="col000">债权ID Q26589585</span>
                <a class="fr colfcbA fn16">导出电子版</a>
            </div>
            <div class="claimdetailMain">
                <div class="claimdetailMainHead">
                    所属债行
                    <img src="img/auditPng.png" class="auditPng"/>
                </div>
                <div class="claimdetailMainDes">
                    债行：浙江省台州市行业
                </div>
                <div class="claimdetailMainHead">
                    债权人信息
                </div>
                <div class="claimdetailMainDes">
                    <p class="mgt10">会员：蚂蚁</p>
                    <p class="mgt10">姓名：阿亮</p>
                    <p class="mgt10">电话号码：183 6895 5847</p>
                    <p class="mgt10">组织性质：个人</p>
                </div>
                <div class="claimdetailMainHead">
                    债务人信息
                </div>
                <div class="claimdetailMainDes">
                    <p class="mgt10">会员：蚂蚁</p>
                    <p class="mgt10">姓名：阿亮</p>
                    <p class="mgt10">电话号码：183 6895 5847</p>
                    <p class="mgt10">组织性质：个人</p>
                </div>
                <div class="claimdetailMainHead">
                    债事状况
                </div>
                <div class="claimdetailMainDes">
                    <p class="mgt10">债事量级（万）：5213</p>
                    <p class="mgt10">是否诉讼：否</p>
                </div>
                <div class="claimdetailMainHead">
                    辅助资料
                </div>
                <div class="claimdetailMainDes">
                    <p class="mgt10">备注：XXXXXXXXX</p>
                    <p class="mgt10">置换商品：最新的苹果手机</p>
                </div>
                <div class="claimdetailimgMain">
                    <div class="claimdetailimgCont">
                        <img src="img/claimdetailImg.png" />
                        <a class="imgDownload">下载</a>
                    </div>
                    <div class="claimdetailimgCont">
                        <img src="img/claimdetailImg.png" />
                        <a class="imgDownload">下载</a>
                    </div>
                    <div class="claimdetailimgCont">
                        <img src="img/claimdetailImg.png" />
                        <a class="imgDownload">下载</a>
                    </div>
                    <div class="claimdetailimgCont mgr0">
                        <img src="img/claimdetailImg.png" />
                        <a class="imgDownload">下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>