<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>平台总额</title>

    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight wrapperPdl">
        <div class="debtManagement">
            <div class="debtManagementHead">
                <div class="debtManagementTitle TitleActive">
                    总账总额
                </div>
            </div>
            <div class="platformimgWarp">
                <div class="platformimgCont bgffc fl">
                    <img src="img/platformCoin.png" class="edebtImg">
                    <p class="fn18">0.00</p>
                    <p>余额（元）</p>
                </div>
                <div class="platformimgCont bgff9 fl mgl2p">
                    <img src="img/platformMoney.png" class="edebtImg">
                    <p class="fn18">0.00</p>
                    <p>余额（币）</p>
                </div>
                <div class="platformimgCont bgf96 fr">
                    <img src="img/platformEsure.png" class="edebtImg">
                    <p class="fn18">0.00</p>
                    <p>保证金（元）</p>
                </div>
            </div>
            <div class="platformMain">
                <p>交易记录</p>
                <div class="platseachCont">
                    <span>时间：</span>
                    <input placeholder="开始日期（年/月/日/时）" class="managementDate mgl0" id="managementStart" />
                        <span class="mgl5">——</span>
                    <input placeholder="结束日期（年/月/日/时）" class="managementDate" id="managementEnd" />
                    <input type="text" id="keywordSearch" placeholder="请输入关键词搜索" class="managementDate width138" /> 
                    <div class="debtManagementSearch inlineB width92 fr">
                        查询
                    </div>
                    <div class="mgt15">
                        <span class="fl">类型：</span>
                        <ul class="platformUl fl">
                            <li class="activeClick" data-type="0">全部</li>
                            <li data-type="1">提现</li>
                            <li data-type="2">转账</li>
                            <li data-type="3">充值</li>
                            <li data-type="4">消费</li>
                            <li data-type="5">佣金</li>
                            <li data-type="6">定金</li>
                            <li data-type="7">保证金</li>
                            <li data-type="8">退款</li>
                        </ul>
                    </div>
                </div>
                <div class="ManagementTableWarp mgt20 bordere4e">
                    <table class="debtManagementTable" border="0" cellspacing="1" id="reportTable">
                    </table>
                </div>
            </div>
        </div>
        <div class="platDetails">
            <div class="delContHead">
                <span class="mgl20">账单</span>
                <img class="accountContClose" src="img/accountContClose.png" onclick="accountContClose('platDetails','accountContBg')"/>
            </div>
            <div class="platDetailsmain">
                <img src="img/userImg.png" class="platuserImg fl">
                <p class="mgt5 mgl85">充值-金额(币)</p>
                <p class="mgt5 mgl85">昵称：啊啊</p>
                <p class="mgt5 mgl85">流水号：45123324410001010</p>
                <p class="mgt50">
                    <span>时间：2017-06-17 10:00</span>
                    <span class="fr mgr20">单位(币)</span>
                </p>
                <table class="platDetailstable">
                    <tr class="bgf8f">
                        <td>转出金额</td>
                        <td>转入金额</td>
                    </tr>
                    <tr class="fn16">
                        <td>3000.00</td>
                        <td class="colff0">3000.00</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fl">余额(币)</span>
                            <span class="fr">3000.00</span>
                        </td>
                        <td>
                            <span class="fl">余额(币)</span>
                            <span class="fr">3000.00</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="accountContBg"></div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/plugins/laydate/laydate.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/common.js"></script>

    <script>
        //日期范围限制
        var start = {
            elem: '#managementStart',
            format: 'YYYY/MM/DD hh:mm:ss',
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#managementEnd',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);

        //手动制造30条数据
        var datas  = [];
        for(var i=0;i<300;i++){
            datas[i]={"b":"2017-10-12 10:20","c":"425105532566652","d":"张三","e":"充值","f":"充值-余额(币)","g":"+3000.00","id":i}
        }

		$('#reportTable').bootstrapTable({
			method: 'get',
			cache: false,
			striped: false,
			pagination: true,
			pageSize: 15,
            height:640,
			pageNumber:1,
			pageList: [15],
			showColumns: false,
			showRefresh: false,
			showExport: false,
			search: false,
			clickToSelect: false,
			sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*） 
			columns: 
			[
				{field:"b",title:"时间",align:"center",valign:"middle"},
                {field:"c",title:"流水号",align:"center",valign:"middle"},
                {field:"d",title:"昵称",align:"center",valign:"middle"},
                {field:"e",title:"类型",align:"center",valign:"middle"},
                {field:"f",title:"名称",align:"center",valign:"middle"},
                {field:"g",title:"金额",align:"center",valign:"middle",
                    formatter:function(value,row,index){
                        var a = '<span  class="colfdd">'+value+'</span> ';  
                        return a;
                    }  
                },
                {
                    field: 'id',
                    title: '操作',
                    align: 'center',
                    formatter:function(value,row,index){
                        var a = '<a onclick=showDeliver("platDetails","' + value + '")>详情</a> '; 
                        return a;
                    }
                }
			],
			data:datas,
		});
        //详情按钮点击弹窗
        function showDeliver(dom,index){
            $(".accountContBg").css({
                    height: $(document).height()
            });
            var $box = $("."+dom);
            $box.css({
                left: ($("body").width() - $box.width()) / 2 - 20 + "px",
                top: ($(window).height() -$box.height()) / 2 + $(window).scrollTop() + "px",
            });
            $(".accountContBg").css({"background-color":"#000","opacity":"0.5"});
            $(".accountContBg").delay("100").fadeIn();
            $("."+dom).delay("100").fadeIn();
        };

        function accountContClose(dom,contbg){ 
            if(contbg!=null){
                $("."+contbg).delay("100").fadeOut();
            }                                    
            $("."+dom).delay("100").fadeOut();
        };
        //订单详情tab点击
        $(".platformUl li").click(function(){
            var index=$(".platformUl li").index($(this));
            $(this).addClass("activeClick").siblings().removeClass("activeClick");
            console.log($(this).data("type"));
        })

    </script>
</body>

</html>