<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>用户查询</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight wrapperPdl">
        <div class="debtManagement">
            <div class="debtManagementHead">
                <div class="debtManagementTitle TitleActive">
                    用户查询
                </div>
            </div>
            <div class="debtManagementNav">
                <div class="debtManagementExport inlineB" onclick ="$('#reportTable').tableExport({ type: 'excel', escape: 'false'})">
                    导出
                </div>
                <span class="mgl5">用户：</span>
                <input type="text" placeholder="请输入用户昵称" class="managementDate width138 mgl0" /> 
                <span class="mgl5">类型：</span>
                <select class="debtManagementSelect width80 col666 mgl0">
                    <option value="0">全部</option>
                    <option value="1">总级行</option>
                    <option value="2">省级行</option>
                </select>
                <span class="mgl5">收支：</span>
                <select class="debtManagementSelect width80 col666 mgl0">
                    <option value="0">全部</option>
                    <option value="1">个人</option>
                    <option value="2">企业</option>
                </select>
                <input placeholder="开始日期（年/月/日/时）" class="managementDate width154 mgl5" id="managementStart" />
                    <span >——</span>
                <input placeholder="结束日期（年/月/日/时）" class="managementDate width154 mgl0" id="managementEnd" />
                <div class="debtManagementSearch inlineB width92 fr">
                    查询
                </div>
            </div>
            <ul class="FlowdetailNav mgt30">
                <li class="tradingClick"><span>全部</span></li>
            </ul>
            <div class="transferTableWarp">
                <table class="debtManagementTable" border="0" cellspacing="1" id="reportTable">
                </table>
            </div>
        </div>
        <div class="delCont">
            <div class="delContHead">
                <span class="mgl20">删除数据</span>
                <img class="accountContClose" src="img/accountContClose.png" onclick="accountContClose('delCont','accountContBg')"/>
            </div>
            <p class="delNotice">您确定要删除此数据</p>
            <div class="delBtnwarp">
                <a class="delCancel" onclick="accountContClose('delCont','accountContBg')">取消</a>
                <a class="delSure">确定</a>
            </div>
        </div>
        <div class="platDetails">
            <div class="delContHead">
                <span class="mgl20">账单</span>
                <img class="accountContClose" src="img/accountContClose.png" onclick="accountContClose('platDetails','accountContBg')"/>
            </div>
            <div class="platDetailsmain">
                <img src="img/userImg.png" class="platuserImg fl">
                <p class="mgt5 mgl85">充值-金额(币)</p>
                <p class="mgt5 mgl85">昵称：啊啊</p>
                <p class="mgt5 mgl85">流水号：45123324410001010</p>
                <p class="mgt50">
                    <span>时间：2017-06-17 10:00</span>
                    <span class="fr mgr20">单位(币)</span>
                </p>
                <table class="platDetailstable">
                    <tr class="bgf8f">
                        <td>转出金额</td>
                        <td>转入金额</td>
                    </tr>
                    <tr class="fn16">
                        <td>3000.00</td>
                        <td class="colff0">3000.00</td>
                    </tr>
                    <tr>
                        <td>
                            <span class="fl">余额(币)</span>
                            <span class="fr">3000.00</span>
                        </td>
                        <td>
                            <span class="fl">余额(币)</span>
                            <span class="fr">3000.00</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="accountContBg"></div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/plugins/laydate/laydate.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/bootstrap-table.min.js"></script>
    <script src="js/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/plugins/tableExport.js"></script>
    <script src="js/plugins/jquery.base64.js"></script>

    <script>
        //日期范围限制
        var start = {
            elem: '#managementStart',
            format: 'YYYY/MM/DD hh:mm:ss',
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#managementEnd',
            format: 'YYYY/MM/DD hh:mm:ss',
            min: laydate.now(),
            max: '2099-06-16 23:59:59',
            istime: true,
            istoday: false,
            choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        laydate(start);
        laydate(end);

    //手动制造30条数据
	var datas  = [];
	for(var i=0;i<300;i++){
		datas[i]={"a":"4251033325125"+i,"b":"2017-08-16 12:00","c":"啊啊","d":"提现","e":"支出","f":"提现-支付宝(元)","g":"-3000.00","id":i}
	}


		$('#reportTable').bootstrapTable({
			method: 'get',
			cache: false,
			striped: false,
			pagination: true,
			pageSize: 15,
            height:640,
			pageNumber:1,
			pageList: [15],
			showColumns: false,
			showRefresh: false,
			showExport: false,
			search: false,
			clickToSelect: false,
			sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*） 
			columns: 
			[
                {field:"",title:"排序",align:"center",valign:"middle",
                    formatter:function(value,row,index){
                        var a = '<span>'+index+'</span>';
                        return a;
                    }  
                },
				{field:"a",title:"流水号",align:"center",valign:"middle"},
				{field:"b",title:"时间",align:"center",valign:"middle"},
                {field:"c",title:"用户",align:"center",valign:"middle"},
                {field:"d",title:"类型",align:"center",valign:"middle"},
                {field:"e",title:"收支",align:"center",valign:"middle"},
                {field:"f",title:"名称",align:"center",valign:"middle"},
                {field:"g",title:"金额",align:"center",valign:"middle",
                    formatter:function(value,row,index){
                        var a = '<span class="colfdd">'+value+'</span>';
                        return a;
                    }
                },
                {
                    field: 'id',
                    title: '操作',
                    align: 'center',
                    formatter:function(value,row,index){
                        var e = '<a class="mgl10" onclick=showBox("platDetails","' + value + '")>详情</a> '; 
                        return e;
                    }
                }
			],
			data:datas,
		});										
        //详情按钮点击弹窗
        function showBox(dom,index){
            $(".accountContBg").css({
                    height: $(document).height()
            });
            var $box = $("."+dom);
            $box.css({
                left: ($("body").width() - $box.width()) / 2 - 20 + "px",
                top: ($(window).height() -$box.height()) / 2 + $(window).scrollTop() + "px",
            });
            $(".accountContBg").css({"background-color":"#000","opacity":"0.5"});
            $(".accountContBg").delay("100").fadeIn();
            $("."+dom).delay("100").fadeIn();
        };

        function accountContClose(dom,contbg){ 
            if(contbg!=null){
                $("."+contbg).delay("100").fadeOut();
            }                                    
            $("."+dom).delay("100").fadeOut();
        };
        //订单状态点击
        $(".FlowdetailNav li").click(function(){
            $(this).addClass("tradingClick").siblings().removeClass("tradingClick");
            console.log($(this).data("type"));
        })
    </script>
</body>

</html>