<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>商家列表详情</title>
    
    <link href="css/bootstrap_Grid_system.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight wrapperPdl">
        <div class="claimdetailCont">
            <div class="claimdetailHead">
                <a href="supply_merchantList" class="colbebA">企业商家&gt;</a>
                <span class="col000">详情</span>
            </div>
            <div class="claimdetailMain">
                <div class="claimdetailMainHead">
                    基本信息
                </div>
                <div class="claimdetailMainDes">
                    <p class="mgt10">*店铺名称：苹果专卖店</p>
                    <p class="mgt10">*供应类型：第三方供应商</p>
                    <p class="mgt10">*平台账号：185689452556</p>
                    <p class="mgt10">*入驻人名称：王小丫</p>
                    <p class="mgt10">*入驻人手机号：13565848984</p>
                    <p class="mgt10">*身份证号：33032619930822691868</p>
                </div>
                <div class="claimdetailMainHead">
                    企业信息
                </div>
                <div class="claimdetailMainDes">
                    <p class="mgt10">*单位名称：北京某某科技发展有限公司</p>
                    <p class="mgt10">*企业法人手机号码：13856894562</p>
                    <p class="mgt10">*企业法人身份证号：33032619930822691868</p>
                    <p class="mgt10">*公司经营地址：浙江省杭州市萧山区经济技术开发区</p>
                    <p class="mgt10">*统一社会信用代码：649756412255455</p>
                </div>
                <div class="claimdetailMainHead">
                    资质信息
                </div>
                <div class="supplyImgwarp">
                    <div class="fl">*身份证正面：</div>
                    <div class="inlineB">
                        <img src="img/idCard.png" class="supplyImg"/>
                        <a class="supplyImgload">下载</a>
                    </div>
                </div>
                <div class="supplyImgwarp">
                    <div class="fl">*身份证反面：</div>
                    <div class="inlineB">
                        <img src="img/idCardside.png" class="supplyImg"/>
                        <a class="supplyImgload">下载</a>
                    </div>
                </div>
                <div class="supplyImgwarp">
                    <div>*身份证有效期：1987/12/01-2005/11/15</div>
                </div>
                <div class="supplyImgwarp">
                    <div class="fl">*企业营业执照：</div>
                    <div class="inlineB">
                        <img src="img/licenseImg.png" class="supplyImg mgl5"/>
                        <a class="supplyImgload">下载</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>