<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>债行管理</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-table.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight wrapperPdl">
        <div class="debtManagement">
            <div class="debtManagementHead">
                <div class="debtManagementTitle TitleActive">
                    创建账户
                </div>
            </div>
            <div class="ManagementTableWarp">
                <div class="supplycreatWarp">
                    <div class="supplycreatCont fl">
                        <p class="mgt35 fn16">个人入驻</p>
                        <p class="mgt20 fn12">适合个人、个体户入驻，提供身份证即可入驻</p>
                        <a class="createBtn" onclick="openLocation('supply_createpersonalAccount')">创建账户</a>
                    </div>
                    <div class="supplycreatCont fr">
                        <p class="mgt35 fn16">企业入驻</p>
                        <p class="mgt20 fn12">适合公司、企业入驻，提供营业执照等资料即可入驻</p>
                        <a class="createBtn" onclick="openLocation('supply_createcompanyAccount')">创建账户</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>