<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    <title>商品发布</title>

    <link href="css/base.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/upload.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/summernote.css" rel="stylesheet">
    <link href="css/summernote-bs3.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight wrapperPdl">
        <div class="debtManagement">
            <div class="debtManagementHead">
                <div class="debtManagementTitle TitleActive">
                    商品发布
                </div>
            </div>
            <div class="releasegoodMain mgt90">
                <div class="releaseBox fl">
                    <p class="mgt20 fn18">房产</p>
                    <p class="mgt10 fn12">独立商品发布</p>
                    <a class="goodsrelBtn" onclick="openLocation('supply_goodsReleasehouse')">点击进入</a>
                </div>
                <div class="releaseBox mgl55 fl">
                    <p class="mgt20 fn18">车辆</p>
                    <p class="mgt10 fn12">独立商品发布</p>
                    <a class="goodsrelBtn" onclick="openLocation('supply_goodsReleasecar')">点击进入</a>
                </div>
                <div class="releaseBox fr">
                        <p class="mgt20 fn18">其他</p>
                        <p class="mgt10 fn12">滋补养生、酒水饮品、家用、化妆品、办公、</p>
                        <p class="fn12">数码、食品、百货、其他</p>
                        <a class="goodsrelBtn mgt15" onclick="openLocation('supply_goodsReleaseothers')">点击进入</a>
                    </div>
            </div>
        </div>      
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/common.js"></script>

</body>

</html>